.map{
    text-align: center;
    display: flex;
    justify-content: center;
}
agm-map{
    height: 250px;
    width: 450px;
}
#search-results ul{
    display: flex;
    justify-content: center;
}
.search-item{
    background: #fffc;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.1);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    overflow: auto;
    padding: 20px;
    height: 122px;
    width: 225px;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}
#location-input{
    margin: 40px 25px;
    width: 400px;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #ffffff;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
}
.title {
    font-size: 20px;
}
.map-tick {
    float: left;
    cursor: pointer;
}
.card-expanded{
    height: 350px !important; 
    width: 500px;
}