/* You can add global styles to this file, and also import other style files */
body{
    background-color:#A3A6BA; 
    padding: 10px;
    font-family: sans-serif;
}

ul{
    list-style: none;
    padding: 0px;
}

input{
    outline: none;
}

.hidden{
    display:none !important;
}

.main-heading{
    color:#383940;
    font-size: 30px; 
}